

.mainBtn {
    animation: shake;
    animation-duration:  0.52s;
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
  
}

.mainBtn:focus {
    animation-play-state: paused;
}
/*
header {
    animation: appear;
    animation-delay: 5.2s;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}*/

#filterLabel {
    animation-name: raise;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 5.2s;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }

}