* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Special Elite";
    
}

body {
    background-color: #f9f9f8;
    max-height: 100%;
}





header {
    background-color: #333333;
    background-image: url("./img/dinner.jpeg");
    background-size: cover;
    height: 30vh;
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: rgba(0, 0, 0, 0.5);
    
    
}

#head {
    color: #333333;
    font-size: 3rem;
    font-weight: 900;
    padding: 1em;
    text-align: center;
}

#headings {
    height: 40vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    z-index: 0;
    position: absolute;
    top: 60vh;

}

#overlay-header {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: absolute;
}

#overlay {
    width: 100%;
    height: 400vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10vh;
    left: -200vw;
    z-index: 0;
}

#ukesplan {
    position: relative;
    top: -8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    justify-content: space-around;
    
    
}

h1 {
    font-size: 10vw;
    text-align: center;   
    font-family: "Special Elite";
    letter-spacing: 2px;
    line-height: 10vh;
    margin: 1em;
    /*text-shadow: 2px 2px rgba(0, 0, 0, 0.5);*/
    z-index: 3;
    font-weight: 700;
    position: absolute;
    color: #333333;
}

h2 {
    font-size: 2.5rem;
    margin: .5em auto;
}

.overskrift {
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 2em;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: .7em;
    margin-top: 2em;
    text-align: center;
}


main, #valg, #filtWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#valg {
    margin: 2em auto;
}

#filt-wrapper {
    text-align: center;
    
}
#filter {
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -155vh;
    transition: 0.2s;
    opacity: 0;
    z-index: 10;
    background-color: white;

}

#filterlabler {
    z-index: 10;
    position: relative;
    top: 2vh;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cb:checked ~ #filter {
    top: 70vh;
    opacity: 1;
}

#cb:checked ~ label {
    border: 4px solid black;
    background-color: peru;
}

#cb:checked ~ #overlay {
    /*height: 400vh;
    width: 100%;
    top: 10vh;
    left: 0;*/
    top: 30vh;
    left: 0;
}

#cb:checked ~ .mainBtn {
    display: none;
}

.inpFilter {
    width: 1px;
    height: 1px;

}

.inpFilter:checked + label {
    background-color:peru;
}

.cbLabel, .filt-tag {
    font-size: 2rem;
    border: 1px solid black;
    width: fit-content;
    padding: .3em;
    margin: .2em;
}

.filt-tag {
    background-color: peru;
}
.cbLabel:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


.duplikat {
    display: none;
}

.labelWrap {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#etterFilter {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
}

#filterLabel {
   font-size: 2.5rem; 
   margin: 1em;
   z-index: 11;
   border: 4px solid darkcyan;
   padding: .5em;
   border-radius: 50%;
   color: darkcyan;
   position: relative;
   top: -5vh;
   background: white;
   
}

#filterLabel:hover {
    background-color: peru;
}

#cb {
    width: 1px;
    height: 1px;
}

/*BUTTONS*/
.mainBtn, #genererFiltrertBtn {
    font-size: 2rem;
    padding: 1em;
    border-radius: 20em;
    border: 4px solid #333333;
    background-color: peru;
    margin: 1em auto;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    font-family: "Special Elite";
}

.mainBtn {
    width: 80%;
    position: absolute;
    top: 40vh;
   
}


@keyframes rainbow {
    /*0% {
        background-color: #ff0000;
    }
    16% {
        background-color: #ff7f00;
    }
    32% {
        background-color: #ffff00;
    }
    48% {
        background-color: #00ff00;
    }
    64% {
        background-color: #0000ff;
        color: white;
    }
    80% {
        background-color: #2e2b5f;
        color: white;
    }
    100% {
        background-color: #8b00ff;
        color: white;
    }*/
    0% {
        background-color: peru;
    }
    50% {
        background-color: rgb(151, 132, 22);
        
    }

    100% {
        background-color: rgb(245, 176, 86);
    }

}



#etterFilter {
    width: 100%;
}
#genererFiltrertBtn {
  background-color: peru;
  border-radius: 20em;
  font-size: 2rem;
  padding: 1em;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/*MIDDAGER*/

.dag {
    text-transform: uppercase;
    color: gray;
}

.rett {
    text-align: center;
    margin-bottom: 1.5em;
}

.dagWrap {
    width: 30em;;
    border: none;
    margin: 3em 2em;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px gray;
    padding: 1em;
}

.bytt {
    font-size: 2rem;
    padding: .5em;
    border-radius: 0 0 10px 10px;
    border: none;
    background-color: darkcyan;
    color: white;
    font-family: "Special Elite";
}

.bytt:hover {
    background-color: rgba(0, 0, 0, 0.5);
}



.clock, .price {
    width: 3em;
    height: 3em;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.clock {
    background-color: pink;
}

.price {
    background-color: gold;
}

.icon_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

