
@media (min-width: 414px) {

    #kursiv, #lagre, #sendmail, #mail, #filterLabel, #lukk_filter_Btn {
        font-size: 2.4rem;
    }

    #head_wrap {
        position: relative;
        top: -5vh; 
     }
    .rett {
        font-size: 2.1rem;
    } 
}


@media (min-width: 768px) {

    h1 {
        font-size: 9rem;
        position: relative;
        top: -.2em;
    }
    #kursiv{
        display: none;
        font-size: 4rem;
        position: relative;
        top: 2.4em;
        left: 3.5em;
    }

    #lagretBtn, #lagre {
        font-size: 3rem;
        width: 60vw;
    }

    #sendmail, #mail {
        width: 60vw;
    }

    #head_wrap {
       position: relative;
       top: -5vh; 
    }

    .mainBtn {
        font-size: 3rem;
        padding: 1em .1em;
        width: 60vw;
    }

    .filt-tag, .cbLabel {
        font-size: 3rem;
    }

    h3, .rett {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 4.5rem;
    }

    .dag {
        font-size: 2rem;
    }

    #ukesplan {
        margin-top: 6em;
        width: 80%;
    }

    header {
        height: 50vh;
        background-position: bottom;
    }
}


@media (min-width: 1050px) {

    h1 {
        top: -.4em;
        
    }
    header {
        background-position: bottom;
        height: 55vh;
        border: 1px solid red;
        margin-bottom: 1em;
    }

    #kursiv {
        top: 2em;
    }

    #ukesplan {
        margin-bottom: 10em;
    }
    
    #lukk_filter_Btn, #lagretBtn, #lagre, #sendmail, #mail {
       
        width: 30vw;
    }

    
    
    .labelWrap {
        margin-top: 2em;
        width: 60%;
    }

    .mainBtn {
        width: 40vw;
    }

    #lagretBtn {
        margin-top: 2em;
    }
}