
@media (min-width: 414px) {

    #sub_title, #save_btn, #send_mail, #mail, #filter_label, #exit_filter_btn {
        font-size: 2.4rem;
    }

    #head_wrap {
        position: relative;
        top: -5vh; 
     }
    .course-h2 {
        font-size: 2.1rem;
    } 
}


@media (min-width: 768px) {

    h1 {
        font-size: 9rem;
        position: relative;
        top: -.2em;
    }

    #sub_title{
        display: none;
    }

    #view_saved_btn, #save_btn {
        font-size: 3rem;
        width: 60vw;
    }

    #send_mail, #mail {
        width: 60vw;
    }

    #head_wrap {
       position: relative;
       top: -5vh; 
    }

    .main-btn {
        font-size: 3rem;
        padding: 1em .1em;
        width: 60vw;
    }

    .filt-tag, .cb-label {
        font-size: 3rem;
    }

    h3, .course-h2 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 4.5rem;
    }

    .day {
        font-size: 2rem;
    }

    #dinner_plan {
        margin-top: 6em;
        width: 80%;
    }

    header {
        height: 50vh;
        background-position: bottom;
    }
}


@media (min-width: 1050px) {

    h1 {
        top: -.4em;
        
    }
    header {
        height: 55vh;
        margin-bottom: 1em;
    }

    #dinner_plan {
        margin-bottom: 10em;
    }
    
    #exit_filter_btn, #view_saved_btn, #save_btn, #send_mail, #mail {
       
        width: 30vw;
    }
    
    .label-wrap {
        margin-top: 2em;
        width: 60%;
    }

    .main-btn {
        width: 40vw;
    }

    #view_saved_btn {
        margin-top: 2em;
    }
}